<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Register Passenger</title>
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-4 offset-md-4 mt-5">
            <h1>Add Passenger</h1>
            <form class="row g-3" method="post" action="/addpassenger">
                <div class="col-md-6">
                    <label for="passengerId" class="form-label">Passenger ID</label>
                    <input type="number" class="form-control" id="passengerId" name="passengerId" placeholder="Enter passenger ID">
                </div>
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter passenger name" name="name">
                </div>
                <div class="col-12">
                    <label for="age" class="form-label">Age</label>
                    <input type="number" class="form-control" id="age" placeholder="Enter passenger age" name="age">
                </div>
                <div class="col-12">
                    <label for="gender" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="gender" placeholder="Enter gender" name="gender">
                </div>
                <div class="col-md-6">
                    <label for="source" class="form-label">Source</label>
                    <input type="text" class="form-control" id="source" name="source">
                </div>
                <div class="col-md-6">
                    <label for="destination" class="form-label">Destination</label>
                    <input type="text" class="form-control" id="destination" name="destination">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
</html>